@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background: #eaeaea;
}

.user-form,
.otp-page {
  .form-container {
    // margin-top: 1em;
    transition: 0.3s ease;

    .form-item {
      margin: 1em auto;
    }

    .form-item-number {
      display: flex;
      gap: 1rem;
    }
  }
}

.otp-page {
  .form-container {
    transition: 0.3s ease;
  }
}

.otp-input-group-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;

  .otp-input-item {
    margin: 0 !important;

    input {
      text-align: center;
    }
  }
}

//animation

.loading-spinner {
  transition: 0.3s ease;
  margin: 2em auto;
  border: 5px solid #ccc;
  border-bottom: 5px solid #333;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  animation: loading-spinner 0.5s linear infinite;
}
@keyframes loading-spinner {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}
