@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  background: #eaeaea;
}

.user-form .form-container,
.otp-page .form-container {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.user-form .form-container .form-item,
.otp-page .form-container .form-item {
  margin: 1em auto;
}

.user-form .form-container .form-item-number,
.otp-page .form-container .form-item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.otp-page .form-container {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.otp-input-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otp-input-group-container .otp-input-item {
  margin: 0 !important;
}

.otp-input-group-container .otp-input-item input {
  text-align: center;
}

.loading-spinner {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 2em auto;
  border: 5px solid #ccc;
  border-bottom: 5px solid #333;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: loading-spinner 0.5s linear infinite;
          animation: loading-spinner 0.5s linear infinite;
}

@-webkit-keyframes loading-spinner {
  from {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes loading-spinner {
  from {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
